<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<insert id="insertBoard">
		insert into MOVIE_REVIEW (title, director, dialogue, actor,writer)
		values 
		(#{title},#{director},#{dialogue},  #{actor} ,#{writer})
	</insert>
	<update id="updateBoard">
		update MOVIE_REVIEW
		set title=#{title}, writer=#{writer},
		director=#{director}, actor=#{actor}, dialogue=#{dialogue},
		where seq=#{seq}
	</update>
	<delete id="deleteBoard">
	delete from MOVIE_REVIEW where seq=#{seq}
	</delete>
	<select id="getBoard" resultType="board">
	select * from MOVIE_REVIEW where seq=#{seq}
	</select>
	<select id="getBoardList" resultType="board">
	select * from MOVIE_REVIEW order by seq desc
	</select>
</mapper>